src/main/mule/mule-ai-poc.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
      xmlns:ms-aichain="http://www.mulesoft.org/schema/mule/ms-aichain"
      xmlns:filescom="http://www.mulesoft.org/schema/mule/filescom"
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/filescom http://www.mulesoft.org/schema/mule/filescom/current/mule-filescom.xsd
http://www.mulesoft.org/schema/mule/ms-aichain http://www.mulesoft.org/schema/mule/ms-aichain/current/mule-ms-aichain.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">

  <ms-aichain:config name="MuleSoft_AI_Chain_Config"
                     llmType="OPENAI"
                     configType="Configuration Json"
                     modelName="gpt-4o-mini"
                     doc:name="MuleSoft AI Chain Config"
                     doc:id="7bc307f6-8dd8-4180-b54e-283cf5987739"
                     filePath='#[mule.home ++ "/apps/" ++ app.name ++ "/envVars.json"]'
                     llmTimeoutUnit="HOURS" />

  <filescom:config name="Files_com_Config" doc:name="Files.com Config" doc:id="69125ca9-55f4-43e6-9504-0b126e8fd590">
    <filescom:connection apiKey="326f8b626c7da25f721c9ae73823358626a50e7479f0edb45d56b98829c2e8fc" />
  </filescom:config>

  <flow name="ai-trainFlow" doc:id="2a4f0669-1402-40c4-a2b3-0fba1aaebc53">
    <scheduler doc:name="Scheduler" doc:id="de16773b-507d-4709-bcd0-9e86cb443ab5">
      <scheduling-strategy>
        <fixed-frequency frequency="5" timeUnit="MINUTES"/>
      </scheduling-strategy>
    </scheduler>
		<set-variable value="#[readUrl('classpath://order.xsd', 'text/plain')]" doc:name="Set Order Xsd" doc:id="022c2744-13b7-4cfc-990c-d9e88e773a61" variableName="orderXsd"/>
		<filescom:list-folders doc:name="Folder - List"
                           doc:id="1c0cce3d-f65c-4143-8804-604f0db5b450"
                           config-ref="Files_com_Config"
                           path="/SFTP/Koerber/OMS/GPS/in/CUSTOMER_ORDER/NEW_TEST"/>

    <foreach doc:name="For Each"
             doc:id="cf9f4ac9-f085-4b2a-a9c7-c75f3f5c80c2"
             collection="#[payload]">

      <set-variable value='#["/SFTP/Koerber/OMS/GPS/in/CUSTOMER_ORDER/NEW_TEST/" ++ payload.displayName]'
                    doc:name="Set filePath"
                    doc:id="c71480d9-3c3d-4878-abdc-dac1cc4a5ed3"
                    variableName="filePath"/>

      <filescom:download-file doc:name="File - Download"
                              doc:id="426e3737-58de-40ce-93a9-67aa244e3fbe"
                              config-ref="Files_com_Config"
                              path="#[vars.filePath]"/>

      <ee:transform doc:name="Transform Message" doc:id="917824e8-d2b8-4b21-b4e8-a869ca8ffb23" >
				<ee:message >
					<ee:set-payload ><![CDATA[%dw 2.0
output application/java
var xmlStr = (payload as Binary) as String {encoding: "UTF-8"}
---
xmlStr replace /xsi:noNamespaceSchemaLocation="[^"]*"/ with ""]]></ee:set-payload>
				</ee:message>
			</ee:transform>
			<set-variable value="#[payload]"
                    doc:name="orderxml"
                    doc:id="3888a36a-d09c-4e40-8dc2-d5b47f451946"
                    variableName="orderxml"/>

      <logger level="INFO"
              doc:name="Logger"
              doc:id="7d6b5f80-b820-4904-8b1b-33cd0a4e00f2"
              message="#[payload]"/>

      <!-- UPDATED PROMPT HERE -->
      <ms-aichain:chat-answer-prompt doc:name="Chat answer prompt" config-ref="MuleSoft_AI_Chain_Config">
  <ms-aichain:prompt><![CDATA[#[
  "You are validating XML against an XSD.\n" ++
  "Your response MUST be valid JSON and NOTHING ELSE.\n" ++
  "Do NOT use markdown, code fences, backticks, or explanations.\n" ++
  "Do NOT include any text before or after the JSON.\n\n" ++

  "Validation rules:\n" ++
  "- Only include errors where you can quote the exact XML value.\n" ++
  "- Ignore sequence or unexpected-element errors.\n" ++
  "- Ignore elements not defined in the XSD.\n" ++
  "- For length, maxLength, or minLength violations, include actualLength as an integer.\n" ++
  "- For enumeration violations, include the invalid value.\n\n" ++

  "Output format (EXACTLY):\n" ++
  "{\"issues\":[{\"element\":\"<name>\",\"value\":\"<xmlValue>\",\"message\":\"<error>\"}]}\n" ++
  "If there are no issues, output exactly: {}\n\n" ++

  "XML:\n" ++ vars.orderxml ++ "\n\n" ++
  "XSD:\n" ++ vars.orderXsd
]
]]></ms-aichain:prompt>
</ms-aichain:chat-answer-prompt>
	
      <ee:transform doc:name="Transform Message" doc:id="ccb07501-530a-40bb-b2e6-97a90e72746d" >
				<ee:message >
					<ee:set-payload ><![CDATA[%dw 2.0
output application/json
var obj = read(payload.response, "application/json")
---
obj update {
  case .issues -> obj.issues map (i) ->
    i update {
      case .element -> (i.element replace /[<>]/ with "")
    }
}
]]></ee:set-payload>
				</ee:message>
			</ee:transform>
			<logger level="INFO"
              doc:name="Logger"
              doc:id="9f90b227-07c3-4e62-91af-87dedde8ddfe"
              message="#[payload]" />

    </foreach>
  </flow>
</mule>
